﻿@model SocialNetwork.Web.Models.Accounts.ForgotPasswordViewModel

<img src="/images/SN-logo-blue.png" alt="logo" width="500px" class="mx-auto d-block justify-content-center" style="margin-top:7rem" />
<div class="row text-center d-flex justify-content-center">
    <div class="col-md-4">
        <hr />
        <form asp-action="ForgotPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}