﻿@using SocialNetwork.Web.Models
@using SocialNetwork.Data.Models.Enums

@model RegisterViewModel

<script type="text/javascript" src="~/js/foopicker.js"></script>

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/foopicker.css">
}

<body>
    <div class="container register">
        <div class="row">
            <div class="col-xl-6 mx-auto">
                <div class="card card-signin flex-row my-5">
                    <div class="card-img-left d-none d-md-flex">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-center pb-4 mb-4">Register</h3>
                        <form class="form-signin" asp-controller="Accounts" asp-action="Register" method="post" enctype="multipart/form-data">
                            <div class="form-label-group w-50 d-inline-block float-left p-2">
                                <label asp-for="FirstName" class="control-label">First Name</label>
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-label-group w-50 d-inline-block float-left p-2">
                                <label asp-for="LastName" class="control-label"></label>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="form-label-group w-50 d-inline-block float-left p-2">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-label-group w-50 d-inline-block float-left p-2">
                                <label asp-for="Country" class="control-label"></label>
                                <select asp-for="Country" class="form-control" asp-items="ViewBag.Countries"></select>
                            </div>
                            <div class="form-label-group w-100 d-inline-block float-left py-4 px-2">
                                <label asp-for="PhotoFile" class="control-label"></label>
                                <input asp-for="PhotoFile" class="d-lg-inline" />
                                <span asp-validation-for="PhotoFile" class="text-danger"></span>
                            </div>
                            <div class="form-label-group w-50 d-inline-block float-left p-2">
                                <label asp-for="DateOfBirth" class="control-label"></label>
                                <input asp-for="DateOfBirth" required class="form-control" type="text" id="datepicker" value="1-Jan-1980"/>
                                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                            </div>
                            <div class="form-label-group w-50 d-inline-block float-left p-2">
                                <label asp-for="Gender" class="control-label"></label>
                                <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()"></select>
                            </div>
                            <div class="form-label-group w-50 d-inline-block float-left p-2">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-label-group w-50 d-inline-block float-left p-2 mb-5">
                                <label asp-for="ConfirmPassword" class="control-label"></label>
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <a class="login-button p-2" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase d-block register-button" type="submit">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@*<body>
        <div class="container">
            <label>START DATE</label>
            <input type="text" id="datepicker" />
        </div>
    </body>*@
<script type="text/javascript">
    var foopicker = new FooPicker({
        id: 'datepicker',
        dateFormat: 'mm/dd/yyyy'
    });
</script>