﻿@using Microsoft.AspNetCore.Identity

@{
    var user = await UserManager.GetUserAsync(this.User);
    string photo;

    if (user == null)
    {
        photo = "profilePicture.png";
    }
    else
    {
        if (user.PhotoName == null)
        {
            photo = "profilePicture.png";
        }
        else
        {
            photo = $"{user.Id}/{user.PhotoName}";
        }
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SocialNetwork</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Buttons.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    @RenderSection("Styles", required: false)
</head>
<body>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="/images/SN-logo.png" alt="logo" width="175px" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-inline-block">
                    <div class="col-sm-6" id="left-navbar">
                        <ul class="navbar-nav">
                            <li>
                                <form asp-controller="Users" asp-action="Search" method="get" class="d-inline-block mr-2">
                                    <input class="form-control" name="searchParameter" type="search" placeholder="Search" aria-label="Search">
                                </form>
                            </li>
                        </ul>

                    </div>
                    <div class="col-sm-6 py-2" id="right-navbar">

                        @if (User.Identity.IsAuthenticated)
                        {
                            <img src="@Url.Content($"~/images/{photo}")" alt="avatar" class="img-fluid rounded-circle" width="40" height="40">
                        }
                        else
                        {
                            <img src="@Url.Content($"~/images/profilePicture.png")" alt="avatar" class="img-fluid rounded-circle" width="40" height="40">
                        }
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - SocialNetwork - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
