﻿@model SocialNetwork.Web.Models.FriendRequests.FriendRequestsReceivedViewModel

@foreach (var requests in Model.FriendRequestReceived)
{
    <div class="col-md-12">
        <div class="people-nearby">

            <div class="nearby-user">
                <div class="row align-items-center">
                    <div class="col-md-2 col-sm-2">
                        <img src="@Url.Content($"~/images/{requests.SenderId}/{requests.SenderPhotoName}")" alt="user" class="profile-photo-lg">
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <h5><a asp-controller="Users" asp-action="Index" asp-route-id="@requests.SenderId" class="profile-link">@requests.SenderName</a></h5>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <button class="btn btn-primary" onclick="requestAction('@requests.SenderId', 'accept')">Accept</button>
                        <button class="btn btn-primary" onclick="requestAction('@requests.SenderId', 'decline')">Decline</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<nav>
    <ul class="pagination pagination-sm justify-content-center">
        @for (int i = 1; i <= this.Model.FriendRequestsPagesCount; i++)
        {
            var active = i == this.Model.CurrentPage ? "active" : string.Empty;
            <li class="page-item @active">
                <a class="page-link" onclick="requestsNextPage(@i)">@i</a>
            </li>
        }
    </ul>
</nav>

<script type="text/javascript">

</script>