﻿@model SocialNetwork.Web.Models.Users.UserPhotosViewModel


@foreach (var item in Model.Photos)
{
    <div class="col-md-6 mb-3" style="padding-left: 2%; padding-right:2%;">
        <div class="item-img-wrap">
            <img src="@Url.Content($"~/images/{Model.Id}/{item}")" alt="@System.IO.Path.GetFileName(item)">
            <div class="item-img-overlay">
                <a href="@Url.Content($"~/images/{Model.Id}/{item}")" target="_blank" class="show-image">
                    <span></span>
                </a>
            </div>
        </div>
    </div>
}
