﻿@using SocialNetwork.Web.Models

@model CommentViewModel
    <style>
        .btn-secondary:hover {
            background-color: olive;
        }

        .btn-success:hover {
            background-color: forestgreen;
        }

        .btn-danger:hover {
            background-color: red;
        }

        .btn-warning:hover {
            background-color: orange;
        }
    </style>

    <div class="container posts-content align-self-auto">
        <div class="row">
            <div class="col-lg-12">
                <div class="card mb-1">
                    <div class="card-header" style="height:auto">
                        <div class="media mb-1">
                            <img src="@Url.Content("~/images/"+$"{Model.UserId}/"+@Model.User.PhotoName)"
                                 class="d-block ui-w-40 rounded-circle"
                                 alt="" width="40" height="40">
                            <div class="media-body ml-3">
                                <a asp-action="Index" asp-controller="Users" asp-route-id="@Model.UserId">@Model.Username</a>
                                <div class="text-muted small">@Model.CreatedOn</div>
                            </div>

                            @if (User.Identity.Name == Model.User.Email || User.IsInRole("Admin"))
                            {
                                <button type="button" class="btn btn-warning" style="margin:5px"
                                        data-toggle="modal" data-target="#modalCommentEdit_@Model.Id">
                                    Edit
                                </button>

                                <div class="modal fade right" id="modalCommentEdit_@Model.Id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                     aria-hidden="true" data-backdrop="true">
                                    <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header d-flex justify-content-center" style="background-color:royalblue">
                                                <p class="heading" style="color: white">Update comment</p>
                                                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true" class="white-text">&times;</span>
                                                    </button>*@
                                            </div>

                                            <div class="modal-body">
                                                <textarea id="editComment_@Model.Id" rows="5" cols="5" class="form-control mb-2" asp-for="@Model.Content"></textarea>
                                            </div>

                                            <div class="modal-footer justify-content-center">
                                                <button class="btn btn-success" onclick="updateComment(@Model.Id)">Yes</button>
                                                <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <button type="button" class="btn btn-danger" style="margin:5px" data-toggle="modal" data-target="#modalCommentDelete_@Model.Id">
                                    Delete
                                </button>
                                <div class="modal fade" id="modalCommentDelete_@Model.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">

                                        <div class="modal-content text-center">

                                            <div class="modal-header d-flex justify-content-center" style="background-color:red;color:white">
                                                <p class="heading">Are you sure?</p>
                                                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true" class="white-text">&times;</span>
                                                    </button>*@
                                            </div>

                                            <div class="modal-body">
                                                <i class="fa fa-times-circle" style="font-size:48px;color:red"></i>
                                            </div>

                                            <div class="modal-footer flex-center">
                                                <button class="btn btn-danger" style="background-color:red" onclick="deleteComment(@Model.Id)">Yes</button>
                                                <button class="btn btn-secondary" data-dismiss="modal">No</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="card-body">
                        <div>
                            @Model.Content
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

