﻿@model SocialNetwork.Web.Models.Users.UserPhotosViewModel


@foreach (var item in Model.Photos)
{
    <div class="col-md-4 mb-4">
        <div class="item-img-wrap">
            <img src="@Url.Content($"~/images/{Model.Id}/{item}")" style="width: 300px; height:300px;" class="img-fluid" alt="@System.IO.Path.GetFileName(item)">
            <div class="item-img-overlay">
                <a href="@Url.Content($"~/images/{Model.Id}/{item}")" target="_blank" class="show-image">
                    <span></span>
                </a>
            </div>
        </div>
    </div>
}
