﻿/*.statusButton {
    box-shadow: 3px 4px 0px 0px #360033;
    background: linear-gradient(to right, #614385, #516395);
    background-color: #c62d1f;
    border-radius: 18px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    margin: 5px;
    font-family: Arial;
    font-size: 17px;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #92FE9D;
}

    .statusButton:hover {
        background: linear-gradient(to right, #232526, #414345);
        background-color: #f24437;
    }

    .statusButton:active {
        position: relative;
        top: 1px;
    }

.deleteButton {
    box-shadow: 3px 4px 0px 0px #8a2a21;
    background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    background-color: #c62d1f;
    border-radius: 18px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    margin:5px;
    font-family: Arial;
    font-size: 17px;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
}

    .deleteButton:hover {
        background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
        background-color: #f24437;
    }

    .deleteButton:active {
        position: relative;
        top: 1px;
    }

.updateButton {
    box-shadow: 3px 4px 0px 0px #D38312;
    background: linear-gradient(to bottom, #A83279 5%, #D38312 100%);
    background-color: #c62d1f;
    border-radius: 18px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    margin: 5px;
    font-family: Arial;
    font-size: 17px;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
}

    .updateButton:hover {
        background: linear-gradient(to bottom, #D38312 5%, #c62d1f 100%);
        background-color: #D38312;
    }

    .updateButton:active {
        position: relative;
        top: 1px;
    }*/


.addButton {
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    background-color: #7892c2;
    border-radius: 10px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    padding: 12px 37px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
}

    .addButton:hover {
        background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
        background-color: #476e9e;
    }

    .addButton:active {
        position: relative;
        top: 1px;
    }
