﻿@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    background-color: transparent;
    font-family: "Montserrat", sans-serif;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    text-align: center;
}

h1 {
    color: #2c3e50;
    font-size: 12.5rem;
    letter-spacing: 0.1em;
    margin: 0.025em 0;
    text-shadow: 0.05em 0.05em 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
}

@media (max-width: 30rem) {
    h1 {
        font-size: 8.5rem;
    }
}

h1 > span {
    animation: spooky 2s alternate infinite linear;
    color: #2c3e50;
    display: inline-block;
}

h2 {
    color: #2c3e50;
    margin-bottom: 0.4em;
}

p {
    color: #808080;
    margin-top: 0;
}

@keyframes spooky {
    from {
        transform: translatey(0.15em) scaley(0.95);
    }

    to {
        transform: translatey(-0.15em);
    }
}
