﻿body {
    background: #eee;
}

.card {
    margin-bottom: 1.5rem;
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e5e9f2;
    border-radius: .2rem;
}

.card-header:first-child {
    border-radius: calc(.2rem - 1px) calc(.2rem - 1px) 0 0;
}

.card-header {
    border-bottom-width: 1px;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    color: inherit;
    background-color: #fff;
    border-bottom: 1px solid #e5e9f2;
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
}

.svg-inline--fa.fa-fw {
    width: 1.25em;
}

.svg-inline--fa.fa-w-16 {
    width: 1em;
}

#pills-tabContent {
    position: relative;
    margin-bottom: 2rem;
}

#pills-tabContent nav {
    position: absolute;
    display:block;
    width: 100%;
    bottom: -3rem;
    padding: 0 1rem;
}
#pills-tabContent nav li a {
    padding: .5rem 1rem;
}
    #pills-tabContent nav li a:hover {
        cursor: pointer;
    }

#pills-tab li a {
    overflow: auto;
    white-space: nowrap;
}