﻿@using SocialNetwork.Web.Models.Users
@using SocialNetwork.Data.Models.Enums

@model UserPostsViewModel

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .btn-secondary:hover {
        background-color: olive;
    }

    .btn-success:hover {
        background-color: forestgreen;
    }

    .btn-danger:hover {
        background-color: red;
    }

    .btn-warning:hover {
        background-color: orange;
    }
</style>
@foreach (var post in Model.Posts)
{
    <div class="container posts-content align-self-auto">
        <div class="row">
            <div class="col-lg-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="media mb-3">
                            @if (post.User.IsPrivate)
                            {
                                <img src="@Url.Content($"~/images/profilePicture.png")"
                                     class="d-block ui-w-40 rounded-circle"
                                     alt="" width="40" height="40">
                            }
                            else
                            {
                                <img src="@Url.Content("~/images/" + $"{post.UserId}/" + post.User.PhotoName)"
                                     class="d-block ui-w-40 rounded-circle"
                                     alt="" width="40" height="40">
                            }
                            <div class="media-body ml-3">
                                <a asp-action="Index" asp-controller="Users" asp-route-id="@post.UserId">@post.Username</a>
                                <div class="text-muted small">@post.CreatedOn</div>
                            </div>
                        </div>

                        <p>
                            @post.Content
                        </p>
                        @if (post.PhotoName != null)
                        {
                            <img class="img-fluid" style="width:100%" src="@Url.Content("~/images/" + post.PhotoName)" asp-append-version="true" />
                        }
                        @if (post.VideoUrl != null)
                        {
                            <iframe src="@post.VideoUrl" frameborder="0"
                                    style="margin:0; width:100%; height:500px; border:none; overflow:hidden;"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media;" allowfullscreen>
                            </iframe>
                        }
                    </div>
                    <div class="card-footer">
                        <a class="d-inline-block text-muted" style="cursor:default">
                            <strong id="likeCount_@post.Id">@post.Count</strong> <small>Likes</small>
                        </a>
                        <a onclick="getPublicComments(@post.Id)" class="d-inline-block text-muted mb-3" style="cursor: pointer">
                            <strong>@post.CommentsCount</strong> <small>Comments</small>
                        </a>
                        <form>
                            <div class="container">
                                <div id="loadingBody_@post.Id"></div>
                                <div id="loadBody_@post.Id"></div>
                                <div id="loadPublicComments_@post.Id"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script type="text/javascript">
    $(function () {

        var loadingBody = $("#loadingBody_" +@post.Id);
        var dataBody = $("#loadBody_" +@post.Id);
        var commentId = @post.Id;

        $(dataBody).load("https://localhost:5001/comments/publicIndex/" + commentId, "",
            function (responseText, textStatus, XMLHttpReques) {

                showHideDiv(false, loadingBody);
            });

        function showHideDiv(value, idOrClass) {
            if (value == true) {
                $(idOrClass).show();
            } else {
                $(idOrClass).show();
            }
        };
    });
    </script>
}

<script type="text/javascript">

    var allPublicPostsPages = @Html.Raw(Model.PostsPagesCount);
    var allPublicPageIndex = @Model.CurrentPage;

    var _allPublicIncallback = false;

    $(window).scroll(function () {
        if (allPublicPageIndex == 1) {
            allPublicPageIndex++;
            return;
        }
        if (allPublicPostsPages >= allPublicPageIndex && !_allPublicIncallback) {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                AllPublicData();
            }
        }
    });
</script>
