﻿@using SocialNetwork.Web.Models
@using SocialNetwork.Data.Models.Enums
@model PostViewModel

<style>
    .btn-secondary:hover {
        background-color: olive;
    }

    .btn-success:hover {
        background-color: forestgreen;
    }
</style>
@{
    Layout = null;
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">

            <form asp-action="Create" enctype="multipart/form-data">
                <div class="card border-primary rounded-0">
                    <div class="card-header p-0">
                        <button type="button" class="close" onclick="refreshPage()" style="color:#fff;" aria-label="Close">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                        <div class="bg-info text-white text-center py-2" style="background-color: #2c3e50!important;">
                            <h3>Create Post</h3>
                        </div>
                    </div>
                    <div class="card-body p-3">
                        <div class="form-group">
                            <textarea rows="5" cols="5" class="form-control mb-2" asp-for="Content" placeholder="Description..." minlength="6" maxlength="500" required></textarea>
                        </div>
                        <div>
                            <a id="image" class="btn btn-sm" onclick="openPhotoInput()">
                                <i class="fa fa-camera"></i>
                            </a>
                            <a id="videoUrl" class="btn btn-sm btn-default"  onclick="openVideoInput()">
                                <i class="fa fa-video-camera"></i>
                                <input style="display:none" id="inputVideo" asp-for="VideoUrl" onchange="addVideo()"/>
                            </a>
                            <select style="width:100px;border-color:black" class="float-lg-right" asp-for="AccessStatus" asp-items="Html.GetEnumSelectList<AccessStatus>()"></select>


                            <p hidden>
                                <input id="photoFile" asp-for="PhotoFile" onchange="addPicture()" accept="image/*">
                            </p>
                            <div class="text-lg-center">
                                <input type="submit" value="Create" class="btn btn-success" />
                                <input type="button" value="Close" class="btn btn-secondary" onclick="refreshPage()" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function openPhotoInput() {
        $('#photoFile').trigger('click');
    }
    function openVideoInput() {
        var x = document.getElementById('inputVideo').style.display = "inline";
    }

    function addPicture() {
        document.getElementById('inputVideo').setAttribute("disabled", "disabled");
    }

    function addVideo() {
        document.getElementById('photoFile').setAttribute("disabled", "disabled");
    }
</script>
