﻿@model SocialNetwork.Web.Models.Users.UserInputViewModel

@section Styles {
    <link rel="stylesheet" href="~/css/UserEdit.css" />
    <link rel="stylesheet" href="~/css/foopicker.css" />
}

@{ 
    string photo;

    if (Model.PhotoName == null)
    {
        photo = "profilePicture.png";
    }
    else
    {
        photo = $"{Model.Id}/{Model.PhotoName}";
    }
}

<script type="text/javascript" src="~/js/foopicker.js"></script>

<div class="container light-style flex-grow-1 container-p-y">

    <h4 class="font-weight-bold py-3 mb-4">
        Account settings
    </h4>

    <div class="card overflow-hidden">
        <div class="row no-gutters row-bordered row-border-light">
            <div class="col-md-3 pt-0">
                <div class="list-group list-group-flush account-settings-links">
                    <a class="list-group-item list-group-item-action active" data-toggle="list" href="#account-general">General</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-info">Info</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-change-password">Change password</a>
                </div>
            </div>
            <div class="col-md-9">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="account-general">
                            <div class="card-body media align-items-center">
                                <img src="@Url.Content($"~/images/{photo}")" alt="" class="d-block ui-w-80">
                                <div class="media-body ml-4">
                                    <label class="btn btn-outline-primary">
                                        Upload new photo
                                        <input asp-for="PhotoFile" class="account-settings-fileinput" accept="image/*">
                                    </label> &nbsp;

                                    <div class="text-light small mt-1">Allowed JPG and PNG.</div>
                                </div>
                            </div>
                            <hr class="border-light m-0">

                            <div class="card-body">
                                <div class="form-group">
                                    <label class="form-label">First Name</label>
                                    <input asp-for="FirstName" type="text" class="form-control mb-1" value="@Model.FirstName">
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Last Name</label>
                                    <input asp-for="LastName" type="text" class="form-control" value="@Model.LastName">
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">E-mail</label>
                                    <input asp-for="Email" type="text" class="form-control mb-1" value="@Model.Email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Birthday</label>
                                    <input class="form-control" type="text" id="datepicker" asp-for="DateOfBirth" value="@Model.DateOfBirthView" />
                                </div>
                                <h5 class="mb-4">Profile Privacy</h5>
                                <div class="form-group">
                                    <label class="switcher">
                                        <input type="checkbox" value="true" name="IsPrivate" checked="@Model.IsPrivate" />
                                        <span class="switcher-label">Private Profile</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-info">
                            <div class="card-body pb-2">

                                <div class="form-group">
                                    <label class="form-label">Bio</label>
                                    <textarea asp-for="Bio" value="@Model.Bio" class="form-control" rows="5"></textarea>
                                    <span asp-validation-for="Bio" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Job Title</label>
                                    <input asp-for="JobTitle" type="text" class="form-control" value="@Model.JobTitle">
                                    <span asp-validation-for="JobTitle" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Country</label>
                                    <select asp-for="Country" class="form-control" asp-items="ViewBag.Countries"></select>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-change-password">
                            <div class="card-body pb-2">

                                <div class="form-group">
                                    <label class="form-label">Current password</label>
                                    <input asp-for="CurrentPassword" type="password" class="form-control">
                                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label class="form-label">New password</label>
                                    <input asp-for="NewPassword" type="password" class="form-control">
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label class="form-label">Repeat new password</label>
                                    <input asp-for="RepeatNewPassword" type="password" class="form-control">
                                    <span asp-validation-for="RepeatNewPassword" class="text-danger"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-group text-right mr-5">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*<div class="text-right mt-3">
        <button type="button" class="btn btn-primary">Save changes</button>&nbsp;
        <button type="button" class="btn btn-default">Cancel</button>
    </div>*@

<script type="text/javascript">
    var foopicker = new FooPicker({
        id: 'datepicker',
        dateFormat: 'MM/dd/yyyy'
    });
</script>