﻿@model SocialNetwork.Web.Models.Users.UserSearchViewModel

@section Styles {
    <link rel="stylesheet" href="~/css/Search.css" />
}

<form asp-controller="Users" asp-action="Search" method="get">
    <div class="row justify-content-center">
        <div class="col-8 p-1 bg-light rounded rounded-pill shadow-sm mb-4">
            <div class="input-group">
                <input type="search" name="searchParameter" placeholder="Search User" aria-describedby="button-addon2" class="form-control border-0 bg-light">
                <div class="input-group-prepend">
                    <button id="button-addon2" type="submit" class="btn btn-link text-warning"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="container mb-3">
    <div class="row ng-scope">
        <div class="col-md-11 col-md-pull-3">
            <p class="search-results-count">About @Model.TotalUsers results</p>
            @foreach (var item in Model.Users)
            {
                <section class="search-result-item">
                    <a class="image-link" href="#">
                        @if (item.IsPrivate)
                        {
                            <img class="image" src="@Url.Content($"~/images/profilePicture.png")">
                        }
                        else
                        {
                            if (item.PhotoName == null)
                            {
                                <img class="image" src="@Url.Content($"~/images/profilePicture.png")">
                            }
                            else
                            {
                                <img class="image" src="@Url.Content($"~/images/{item.Id}/{item.PhotoName}")">
                            }
                        }
                    </a>
                    <div class="search-result-item-body">
                        <div class="row align-items-center">
                            <div class="col-sm-9">
                                <h4 class="search-result-item-heading"><a href="#">@item.FullName</a></h4>
                                <p class="info">@item.Country</p>
                                <p class="description">@item.Bio</p>
                            </div>
                            <div class="col-sm-3 text-align-center">
                                <a asp-controller="Users" asp-action="Index" asp-route-id="@item.Id" class="btn btn-primary btn-info btn-sm">Go To Profile</a>
                            </div>
                        </div>
                    </div>
                </section>
            }
        </div>
    </div>
</div>

<nav>
    <ul class="pagination pagination-lg justify-content-center">
        @for (int i = 1; i <= this.Model.UsersPagesCount; i++)
        {
            var active = i == this.Model.CurrentPage ? "active" : string.Empty;
            <li class="page-item @active">
                <a class="page-link" style="padding: .5rem 1rem" asp-action="Search" asp-route-searchParameter="@Model.SearchParameter" asp-route-page="@i">@i</a>
            </li>
        }
    </ul>
</nav>